<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>Hello <%= name %></h1>
    <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
      Logout
    </button>
    <button class="btn btn-danger" href="/add" onClick='document.location.href="/add"'>
      Add metrics
    </button>
    <button class="btn btn-danger" href="/show" onClick='document.location.href="/show"'>
      Show metrics
    </button>
  </div>
</body>

</html>